.carousel-cell {
    width: 100%; /* full width */
    margin-right: 10px;
  }
  
  .main-carousel{
  background-color: rgb(255,114,118);

  }
  .main-carousel1{
    background-color: rgb(255,114,118);
  
    }
    .main-carousel2{
      background-color: rgb(255,114,118);
    
    }
  
  .dumpling{
    display: block; margin-left: auto; margin-right: auto; width: 25vw;
    
  }
  
  .flickity-viewport {
    transition: height 0.2s;
  }

  h1{
    text-align: center;

  }

  h2{
    text-align: center;
  }