.carousel-cell {
    width: 100%; /* full width */
    margin-right: 10px;
    
  }
  
  .main-carousel{
  background-color: rgb(255,114,118);

  }
  .main-carousel1{
    background-color: rgb(255,114,118);
  
    }
    .main-carousel2{
      background-color: rgb(255,114,118);
    }
    #potstickers{
      padding-top: 5vw;
    }
  #xiaolongbao{
    padding-top: 5vw;
    width: 30vw;
    height: auto;
  }
  .dumpling{
    display: block; 
    margin: auto;
    width: 25vw;
    
    
  }
  
  div#submitForm input {
    background: url("images/button.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    padding-bottom: 2px;
    width: 75px;
  }
  
  .flickity-viewport {
    transition: height 0.2s;
  }
  .end-text{
    opacity: 0;
    text-align: center;
    font-size: 50px;
    vertical-align: sub;
    transition: opacity 2s;


  }

  .dumpling-button{
    text-align: center;
    border: none;
    font-size: 80px;
    background-image: url('https://creazilla-store.fra1.digitaloceanspaces.com/emojis/53158/dumpling-emoji-clipart-md.png');

  }

  body {
    font-family: 'Martel', serif;
    margin: 0;
    text-align: center;

}

#banner {
    color: black;
    background-color: "none";
    background-image: url('https://imag.bonviveur.com/dumplings-de-cerdo-antes-de-coccion.jpg');
    background-position: 50% 100%;
    background-color: non-repeat;
    background-position: center;
    background-size: cover;
    padding: 20vh 25px;
    text-align: center;
  }

#banner h1 {
  font-size: 50px;
  font-family: "rockwell";
}

#banner h2 {
  font-family: "rockwell";
}

#banner h3 {
  font-family: "rockwell";
}
  

  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }


  #back {
    text-align: center;
  }

  #paragraph {
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
    line-height: 35px;
  }

  #tooltip {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    text-align: left;
    font-size: 15px;
  }

  #tooltip2 {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    font-family: 'rockwell', sans-serif;
    font-size: 10pt;
    background-color:white;
    padding: 3px;
    opacity: 0;
    pointer-events: none;
    border: 3px solid #8E44AD;
  }

  #tooltip3 {
    position: absolute;
    opacity: 0;
  }


  a:link {
    color:#cd395b; /* Uses Emancipator ROSE */
    text-decoration: none;
}

  a:visited {
    color:#cd395b;
}

  a:hover {
    color:#1c1c1c;
    background-color: #ebf952; /*Sets background of link to Emancipator HIGHLIGHTER */
}

span.color1 {
  color: #A569BD;
}

span.color2 {
  color: #8E44AD;
}

.main-container p {
    max-width: 1050px;
    font-family: 'Martel', serif;
    font-weight: 300;
    text-align: left;
    font-size: 3em;
    margin: 0em auto;
    padding-top: 1em;
    line-height: 2em;
}

p.firstpara {
    padding-top: 1em;
    font-size: 20px;
  }
